<%- include('partials/header') -%>

<div class="container-fluid cv-container">

  <!-- <h1>CV</h1> -->

  <!-- About me -->
  <h1><%=mainSource.name%></h1>

  <p><%=mainSource.intro.age%></p>
  <p><%=mainSource.intro.nationality%></p>
  <p><%=mainSource.intro.location%></p>
  <p><%=mainSource.intro.homecity%></p>

  <!-- Education -->
  <h3><%=mainSource.education.title%></h3>
  <p class="near-collapse">
    <%=mainSource.education.bachelors%>
    <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" >
      <!-- <i class="fas fa-chevron-right"></i> View Diploma -->
    </a>
  </p>

  <!-- Work Experience - TO DO: Add section title to JSON file -->
  <h3>Work Experience</h3>

  <!-- MS -->
  <p class="near-collapse">
    <%=mainSource.work.ms.title%>
    <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMSDesc" >
      <i class="fas fa-chevron-down"></i>
    </button>
  </p>

  <div class="collapse" id="collapseMSDesc">
    <div class="card card-body cv-card">
      <p><%=mainSource.work.ms.description%></p>
      <ul class="no-bullet">

        <li>
          <%=mainSource.work.ms.project4.title%>
          <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseP4Desc" >
            <i class="fas fa-chevron-down"></i>
          </button>

          <div class="collapse" id="collapseP4Desc">
            <div class="card card-body cv-card">
              <p><%=mainSource.work.ms.project4.period%></p>
              <p><%=mainSource.work.ms.project4.role%></p>
              <p><%=mainSource.work.ms.project4.technologies%> Microsoft SQL Server, Python, PowerShell</p>
              <p><%=mainSource.work.ms.project4.descTitle%>: <%=mainSource.work.ms.project4.descBody%></p>
            </div>
          </div>
        </li>

        <li>
          <%=mainSource.work.ms.project3.title%>
          <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseP3Desc" >
            <i class="fas fa-chevron-down"></i>
          </button>

          <div class="collapse" id="collapseP3Desc">
            <div class="card card-body cv-card">
              <p><%=mainSource.work.ms.project3.period%></p>
              <p><%=mainSource.work.ms.project3.role%></p>
              <p><%=mainSource.work.ms.project3.technologies%> Hadoop (Hive), Excel VBA</p>
              <p><%=mainSource.work.ms.project3.descTitle%>: <%=mainSource.work.ms.project3.descBody%></p>
            </div>
          </div>
        </li>

        <li>
          <%=mainSource.work.ms.project2.title%>
          <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseP2Desc" >
            <i class="fas fa-chevron-down"></i>
          </button>

          <div class="collapse" id="collapseP2Desc">
            <div class="card card-body cv-card">
              <p><%=mainSource.work.ms.project2.period%></p>
              <p><%=mainSource.work.ms.project2.role%></p>
              <p><%=mainSource.work.ms.project2.technologies%> .NET Framework (Visual Basic) and Microsoft SQL Server</p>
              <p><%=mainSource.work.ms.project2.descTitle%>: <%=mainSource.work.ms.project2.descBody%></p>
            </div>
          </div>
        </li>

        <li>
          <%=mainSource.work.ms.project1.title%>
          <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseP1Desc" >
            <i class="fas fa-chevron-down"></i>
          </button>

          <div class="collapse" id="collapseP1Desc">
            <div class="card card-body cv-card">
              <p><%=mainSource.work.ms.project1.period%></p>
              <p><%=mainSource.work.ms.project1.role%></p>
              <p><%=mainSource.work.ms.project1.technologies%> SAS, Excel VBA</p>
              <p><%=mainSource.work.ms.project1.descTitle%>: <%=mainSource.work.ms.project1.descBody%></p>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>

  <!-- XP -->

  <p class="near-collapse">
    <%=mainSource.work.xp.title%>
    <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseXPDesc" >
      <i class="fas fa-chevron-down"></i>
    </button>
  </p>

  <div class="collapse" id="collapseXPDesc">
    <div class="card card-body cv-card">
      <ul>
        <li><%=mainSource.work.xp.item1%></li>
        <li><%=mainSource.work.xp.item2%></li>
        <li><%=mainSource.work.xp.item3%></li>
      </ul>
    </div>
  </div>

  <!-- B3 -->

  <p class="near-collapse">
    <%=mainSource.work.b3.title%>
    <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseB3Desc" >
      <i class="fas fa-chevron-down"></i>
    </button>
  </p>

  <div class="collapse" id="collapseB3Desc">
    <div class="card card-body cv-card">
      <p><%=mainSource.work.b3.project%></p>
      <p><%=mainSource.work.b3.objective%></p>
    </div>
  </div>

  <!-- Academic Experience -->
  <h3><%=mainSource.academicExperience.title%></h3>

  <!-- Scientific Initiation -->
  <p class="near-collapse">
    <%=mainSource.academicExperience.si.title%>
    <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSIDesc" >
      <i class="fas fa-chevron-down"></i>
    </button>
  </p>

  <div class="collapse" id="collapseSIDesc">
    <div class="card card-body cv-card">
      <p><%=mainSource.academicExperience.si.project%></p>
      <p><%=mainSource.academicExperience.si.activities%></p>
    </div>
  </div>

  <!-- Teacher's Assistant -->
  <p class="near-collapse">
    <%=mainSource.academicExperience.ta.title%>
    <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTADesc" >
      <i class="fas fa-chevron-down"></i>
    </button>
  </p>

  <div class="collapse" id="collapseTADesc">
    <div class="card card-body cv-card">
      <p><%=mainSource.academicExperience.ta.activities%></p>
    </div>
  </div>

  <!-- Technologies - TO DO: Add section title to JSON file -->
  <h3>Technologies</h3>

  <ul class="no-bullet">

    <!-- Data Science -->
    <li class="near-collapse">
      <%=mainSource.technologies.dataScience.title%>
      <button class="btn btn-outline-light btn-sm cv-btn inlist-chev" type="button" data-bs-toggle="collapse" data-bs-target="#collapseML" >
        <i class="fas fa-chevron-down"></i>
      </button>

      <div class="collapse" id="collapseML">
        <div class="card card-body cv-card">
          <p><%=mainSource.technologies.dataScience.item1%></p>
          <p><%=mainSource.technologies.dataScience.item2%></p>
          <img src="images/python.svg" alt="" height="100" width="100">
          <p>Numpy, Pandas</p>
        </div>
      </div>

    </li>

    <!-- Web Development -->
    <li class="near-collapse">
      <%=mainSource.technologies.webDev.title%>
      <button class="btn btn-outline-light btn-sm cv-btn inlist-chev" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWD" >
        <i class="fas fa-chevron-down"></i>
      </button>

      <div class="collapse" id="collapseWD">
        <div class="card card-body cv-card">
          <p>Front-end</p>

          <!-- Insert Container with responsiveness -->

          <img src="images/html-5.svg" alt="" height="100" width="75">
          <img src="images/css.svg" alt="" height="100" width="75">
          <img src="images/js.svg" alt="" height="100" width="100">
          <img src="images/JQuery.svg" alt="" height="100" width="400">

          <p>Back-end</p>

          <!-- Insert Container with responsiveness -->

          <img src="images/nodejs.svg" alt="" height="100" width="163">
          <!-- Style Express logo just like their website - https://expressjs.com/ -->
          <p>Express</p>
          <!-- <img src="images/MongoDB.png" alt="" height="100" width="100"> -->


        </div>
      </div>

    </li>

    <!-- Databases -->
    <li class="near-collapse">
      <%=mainSource.technologies.db.title%>
      <button class="btn btn-outline-light btn-sm cv-btn inlist-chev" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDB" >
        <i class="fas fa-chevron-down"></i>
      </button>

      <div class="collapse" id="collapseDB">
        <div class="card card-body cv-card">

          <p>SQL</p>
          <img src="images/ms-sql.svg" alt="" height="100" width="100">
          <img src="images/apache_hive.svg" alt="" height="100" width="100">
          <img src="images/impala.svg" alt="" height="100" width="90">

          <p>NoSQL</p>
          <img src="images/MongoDB.png" alt="" height="100" width="100">

        </div>
      </div>

    </li>

    <!-- Miscellaneous Tools -->
    <li class="near-collapse">
      <%=mainSource.technologies.misc.title%>
      <button class="btn btn-outline-light btn-sm cv-btn inlist-chev" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMisc" >
        <i class="fas fa-chevron-down"></i>
      </button>

      <div class="collapse" id="collapseMisc">
        <div class="card card-body cv-card">
          <ul class="no-bullet">
            <li><%=mainSource.technologies.misc.item1%></li>
            <li><%=mainSource.technologies.misc.item2%></li>
            <li><%=mainSource.technologies.misc.item3%></li>
            <li><%=mainSource.technologies.misc.item4%></li>
          </ul>
        </div>
      </div>

    </li>

  </ul>

  <!-- Languages -->
  <h3><%=mainSource.languages.title%></h3>
  <ul class="no-bullet">
    <li class="near-collapse"><%=mainSource.languages.pt%></li>
    <li class="near-collapse"><%=mainSource.languages.en%></li>
    <li class="near-collapse"><%=mainSource.languages.hu%></li>
    <li class="near-collapse"><%=mainSource.languages.es%></li>
  </ul>

  <!-- Honors & Awards -->
  <h3><%=mainSource.awards.title%></h3>

  <ul class="no-bullet">

    <li class="near-collapse">
      <%=mainSource.awards.valuation%>
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" >
        <!-- <i class="fas fa-chevron-right"></i> View Certificate -->
      </a>
    </li>

    <li class="near-collapse">
      <%=mainSource.awards.monography%>
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" >
        <!-- <i class="fas fa-chevron-right"></i> -->
      </a>
    </li>

    <li class="near-collapse">
      <%=mainSource.awards.macroeconomics%>
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" >
        <!-- <i class="fas fa-chevron-right"></i> -->
      </a>
    </li>

    <li class="near-collapse">
      <%=mainSource.awards.microeconomics%>
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" >
        <!-- <i class="fas fa-chevron-right"></i> -->
      </a>
    </li>

  </ul>

  <!-- Courses, Certifications and Events -->
  <h3><%=mainSource.courses.title%></h3>

  <ul class="no-bullet">

    <li class="near-collapse">
      <%=mainSource.courses.insurance%>
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" >
        <!-- <i class="fas fa-chevron-right"></i> -->
      </a>
    </li>

    <li class="near-collapse">
      <%=mainSource.courses.odsc%>
    </li>

    <li class="near-collapse">
      <%=mainSource.courses.pushkin%>
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" >
        <!-- <i class="fas fa-chevron-right"></i> -->
      </a>
    </li>

    <li class="near-collapse">
      <%=mainSource.courses.impacta%>
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" >
        <!-- <i class="fas fa-chevron-right"></i> -->
      </a>
    </li>

  </ul>

  <p class="disclaimer"><%=mainSource.disclaimer%></p>

</div>

<%- include('partials/footer') -%>
