<%- include('partials/header') -%>

<div class="container-fluid cv-container">

  <!-- <h1>CV</h1> -->

  <!-- About me -->
  <h1><%=mainSource.name%></h1>

  <p><i class="fas fa-history"></i><%=mainSource.intro.age%></p>
  <p><i class="fas fa-globe-americas"></i><%=mainSource.intro.nationality%></p>
  <p><i class="fas fa-thumbtack"></i><%=mainSource.intro.location%></p>
  <p><i class="fas fa-home"></i><%=mainSource.intro.homecity%></p>

  <!-- Education -->
  <h3><%=mainSource.education.title%></h3>
  <p class="near-collapse">
    <a href="https://portal.fgv.br/en"><img src="images/logo_FGV2.png" alt="MS-logo" class="fgv-logo"></a>
    <%=mainSource.education.bachelors%>

    <% if(lock=='false') {%>
    <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" href="cert/Diploma.pdf ">
      <i class="fas fa-chevron-right"></i> View Diploma
    </a>
    <% } %>

  </p>

  <!-- Work Experience -->
  <h3><%=mainSource.work.title%></h3>

  <!-- MS -->
  <p class="near-collapse">
    <a href="https://www.managementsolutions.com/en"><img src="images/ms-linkedin.png" alt="MS-logo" class="company-logo"></a>
    <%=mainSource.work.ms.title%>
    <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMSDesc" >
      <i class="fas fa-chevron-down"></i>
    </button>
  </p>

  <div class="collapse" id="collapseMSDesc">
    <div class="card card-body cv-card">
      <p><%=mainSource.work.ms.description%></p>
      <ul class="no-bullet">

        <li class="inner-li">
          <%=mainSource.work.ms.project4.title%>
          <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseP4Desc" >
            <i class="fas fa-chevron-down"></i>
          </button>

          <div class="collapse" id="collapseP4Desc">
            <div class="card card-body cv-card">
              <p><%=mainSource.work.ms.project4.period%></p>
              <p><%=mainSource.work.ms.project4.role%></p>
              <p><%=mainSource.work.ms.project4.technologies%> Microsoft SQL Server, Python, PowerShell, Power BI</p>
              <p><%=mainSource.work.ms.project4.descTitle%>: <%=mainSource.work.ms.project4.descBody%></p>
            </div>
          </div>
        </li>

        <li class="inner-li">
          <%=mainSource.work.ms.project3.title%>
          <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseP3Desc" >
            <i class="fas fa-chevron-down"></i>
          </button>

          <div class="collapse" id="collapseP3Desc">
            <div class="card card-body cv-card">
              <p><%=mainSource.work.ms.project3.period%></p>
              <p><%=mainSource.work.ms.project3.role%></p>
              <p><%=mainSource.work.ms.project3.technologies%> Hadoop (Hive), BASH, Excel VBA</p>
              <p><%=mainSource.work.ms.project3.descTitle%>: <%=mainSource.work.ms.project3.descBody%></p>
            </div>
          </div>
        </li>

        <li class="inner-li">
          <%=mainSource.work.ms.project2.title%>
          <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseP2Desc" >
            <i class="fas fa-chevron-down"></i>
          </button>

          <div class="collapse" id="collapseP2Desc">
            <div class="card card-body cv-card">
              <p><%=mainSource.work.ms.project2.period%></p>
              <p><%=mainSource.work.ms.project2.role%></p>
              <p><%=mainSource.work.ms.project2.technologies%> .NET Framework (Visual Basic) and Microsoft SQL Server</p>
              <p><%=mainSource.work.ms.project2.descTitle%>: <%=mainSource.work.ms.project2.descBody%></p>
            </div>
          </div>
        </li>

        <li class="inner-li">
          <%=mainSource.work.ms.project1.title%>
          <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseP1Desc" >
            <i class="fas fa-chevron-down"></i>
          </button>

          <div class="collapse" id="collapseP1Desc">
            <div class="card card-body cv-card">
              <p><%=mainSource.work.ms.project1.period%></p>
              <p><%=mainSource.work.ms.project1.role%></p>
              <p><%=mainSource.work.ms.project1.technologies%> SAS, Excel VBA</p>
              <p><%=mainSource.work.ms.project1.descTitle%>: <%=mainSource.work.ms.project1.descBody%></p>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>

  <!-- XP -->

  <p class="near-collapse">
    <a href="https://www.xpi.com.br/"><img src="images/xp-inv.jfif" alt="MS-logo" class="company-logo"></a>
    <%=mainSource.work.xp.title%>
    <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseXPDesc" >
      <i class="fas fa-chevron-down"></i>
    </button>
  </p>

  <div class="collapse" id="collapseXPDesc">
    <div class="card card-body cv-card">
      <ul class="no-bullet">

        <li class="inner-li"><%=mainSource.work.xp.operational.title%>
          <ul>
            <li><%=mainSource.work.xp.operational.item1%></li>
            <li><%=mainSource.work.xp.operational.item2%></li>
            <li><%=mainSource.work.xp.operational.item3%></li>
          </ul>
        </li>

        <li class="inner-li"><%=mainSource.work.xp.products.title%>
          <ul>
            <li><%=mainSource.work.xp.products.item1%></li>
          </ul>
        </li>

        <li class="inner-li"><%=mainSource.work.xp.commercial.title%>
          <ul>
            <li><%=mainSource.work.xp.commercial.item1%></li>
            <li><%=mainSource.work.xp.commercial.item2%></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>

  <!-- B3 -->

  <p class="near-collapse">
    <a href="http://www.b3.com.br/en_us/"><img src="images/b3-blue.jfif" alt="MS-logo" class="company-logo"></a>
    <%=mainSource.work.b3.title%>
    <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseB3Desc" >
      <i class="fas fa-chevron-down"></i>
    </button>
  </p>

  <div class="collapse" id="collapseB3Desc">
    <div class="card card-body cv-card">
      <p><%=mainSource.work.b3.project%></p>
      <p><%=mainSource.work.b3.objective%></p>
    </div>
  </div>

  <!-- Academic Experience -->
  <h3><%=mainSource.academicExperience.title%></h3>

  <!-- Scientific Initiation -->
  <p class="near-collapse">
    <a href="http://www.cepesp.io/en/cepesp/"><img src="images/logo_FGV2.png" alt="MS-logo" class="fgv-logo"></a>
    <%=mainSource.academicExperience.si.title%>
    <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSIDesc" >
      <i class="fas fa-chevron-down"></i>
    </button>
  </p>

  <div class="collapse" id="collapseSIDesc">
    <div class="card card-body cv-card">
      <p><%=mainSource.academicExperience.si.project%></p>
      <p><%=mainSource.academicExperience.si.activities.title%></p>
      <ul class="circle-ul">
        <li><%=mainSource.academicExperience.si.activities.item1%></li>
        <li><%=mainSource.academicExperience.si.activities.item2%></li>
        <li><%=mainSource.academicExperience.si.activities.item3%></li>
      </ul>
    </div>
  </div>

  <!-- Teacher's Assistant -->
  <p class="near-collapse">
    <a href="https://portal.fgv.br/en"><img src="images/logo_FGV2.png" alt="MS-logo" class="fgv-logo"></a>
    <%=mainSource.academicExperience.ta.title%>
    <button class="btn btn-outline-light btn-sm cv-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTADesc" >
      <i class="fas fa-chevron-down"></i>
    </button>
  </p>

  <div class="collapse" id="collapseTADesc">
    <div class="card card-body cv-card">
      <p><%=mainSource.academicExperience.ta.activities%></p>
    </div>
  </div>

  <!-- Technologies -->
  <h3><%=mainSource.technologies.title%></h3>

  <ul class="no-bullet">

    <!-- Data Science -->
    <li class="near-collapse">
      <i class="fas fa-atom fa-atom-tech"></i>
      <%=mainSource.technologies.dataScience.title%>
      <button class="btn btn-outline-light btn-sm cv-btn inlist-chev" type="button" data-bs-toggle="collapse" data-bs-target="#collapseML" >
        <i class="fas fa-chevron-down"></i>
      </button>

      <div class="collapse" id="collapseML">
        <div class="card card-body cv-card">
          <p><%=mainSource.technologies.dataScience.item1%></p>
          <p><%=mainSource.technologies.dataScience.item2%></p>
          <img src="images/python.svg" alt="" height="100" width="100">
          <!-- <p>Numpy, Pandas</p> -->
        </div>
      </div>

    </li>

    <!-- Web Development -->
    <li class="near-collapse">
      <i class="fas fa-code"></i>
      <!-- <i class="fas fa-terminal"></i> -->
      <%=mainSource.technologies.webDev.title%>
      <button class="btn btn-outline-light btn-sm cv-btn inlist-chev" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWD" >
        <i class="fas fa-chevron-down"></i>
      </button>

      <div class="collapse" id="collapseWD">
        <div class="card card-body cv-card">
          <p class="inner-title">Front-end</p>

          <div class="row">
            <div class="col ds-col">
              <img src="images/html-5.svg" alt="" height="100" width="75">
            </div>
            <div class="col ds-col">
              <img src="images/css.svg" alt="" height="100" width="75">
            </div>
            <div class="col ds-col">
              <img src="images/js.svg" alt="" height="100" width="100">
            </div>
            <div class="col ds-col">
              <img src="images/JQuery.svg" class="gray-background" alt="" height="100" width="400">
            </div>
          </div>

          <p class="inner-title second-inner-title">Back-end</p>

          <div class="row">

            <div class="col">
              <img src="images/nodejs.svg" class="gray-background" alt="" height="100" width="163">
            </div>

            <div class="col">
              <p class="express-logo">Express</p>
            </div>

          </div>

        </div>
      </div>

    </li>

    <!-- Databases -->
    <li class="near-collapse">
      <i class="fas fa-database"></i>
      <%=mainSource.technologies.db.title%>
      <button class="btn btn-outline-light btn-sm cv-btn inlist-chev" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDB" >
        <i class="fas fa-chevron-down"></i>
      </button>

      <div class="collapse" id="collapseDB">
        <div class="card card-body cv-card">

          <p class="inner-title">SQL</p>

          <div class="row">

            <div class="col">
              <img src="images/ms-sql.svg" class="gray-background" alt="" height="100" width="100">
            </div>

            <div class="col">
              <img src="images/apache_hive.svg" class="gray-background" alt="" height="100" width="100">
            </div>

            <div class="col">
              <img src="images/impala.svg" alt="" height="100" width="90">
            </div>

          </div>

          <p class="inner-title  second-inner-title">NoSQL</p>
          <img src="images/MongoDB.png" class="gray-background" alt="" height="100" width="100">

        </div>
      </div>

    </li>

    <!-- Miscellaneous Tools -->
    <li class="near-collapse">
      <i class="fas fa-tools"></i>
      <%=mainSource.technologies.misc.title%>
      <button class="btn btn-outline-light btn-sm cv-btn inlist-chev" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMisc" >
        <i class="fas fa-chevron-down"></i>
      </button>

      <div class="collapse" id="collapseMisc">
        <div class="card card-body cv-card">
          <ul class="no-bullet">
            <li><%=mainSource.technologies.misc.item1%></li>
            <li><%=mainSource.technologies.misc.item2%></li>
            <li><%=mainSource.technologies.misc.item3%></li>
            <li><%=mainSource.technologies.misc.item4%></li>
          </ul>
        </div>
      </div>

    </li>

  </ul>

  <!-- Languages -->
  <h3><%=mainSource.languages.title%></h3>
  <ul class="no-bullet">
    <li class="near-collapse"><img class="flag-cv" src="images/br_flag.png"><%=mainSource.languages.pt%></li>
    <li class="near-collapse"><img class="flag-cv" src="images/gb_flag.png"><%=mainSource.languages.en%></li>
    <li class="near-collapse"><img class="flag-cv" src="images/hu_flag.png"><%=mainSource.languages.hu%></li>
    <li class="near-collapse"><img class="flag-cv" src="images/es_flag.png"><%=mainSource.languages.es%></li>
  </ul>

  <!-- Honors & Awards -->
  <h3><%=mainSource.awards.title%></h3>

  <ul class="no-bullet">

    <li class="near-collapse">
      <a href="https://portal.fgv.br/en"><img src="images/logo_FGV2.png" alt="MS-logo" class="fgv-logo"></a>
      <%=mainSource.awards.valuation%>

        <% if(lock=='false') {%>
          <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" href="cert/10o_MelhoresAno.pdf">
          <i class="fas fa-chevron-right"></i> View Certificate
          </a>
        <% } %>

    </li>

    <li class="near-collapse">
      <a href="https://portal.fgv.br/en"><img src="images/logo_FGV2.png" alt="MS-logo" class="fgv-logo"></a>
      <%=mainSource.awards.monography%>

      <% if(lock=='false') {%>
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" href="cert/9o_MelhoresAno.pdf">
          <i class="fas fa-chevron-right"></i> View Certificate
      </a>
      <% } %>

    </li>

    <li class="near-collapse">
      <a href="https://portal.fgv.br/en"><img src="images/logo_FGV2.png" alt="MS-logo" class="fgv-logo"></a>
      <%=mainSource.awards.macroeconomics%>

      <% if(lock=='false') {%>
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" href="cert/8o_MelhoresAno.pdf">
          <i class="fas fa-chevron-right"></i> View Certificate
      </a>
      <% } %>

    </li>

    <li class="near-collapse">
      <a href="https://portal.fgv.br/en"><img src="images/logo_FGV2.png" alt="MS-logo" class="fgv-logo"></a>
      <%=mainSource.awards.microeconomics%>

      <% if(lock=='false') {%>
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" href="cert/7o_MelhoresAno.pdf">
          <i class="fas fa-chevron-right"></i> View Certificate
      </a>
      <% } %>

    </li>

  </ul>

  <!-- Courses, Certifications and Events -->
  <h3><%=mainSource.courses.title%></h3>

  <ul class="no-bullet">

    <li class="near-collapse">
      <a href="https://www.ens.edu.br/"><img src="images/funenseg-escola-nacional-de-seguros.jpg" alt="MS-logo" class="award-logo"></a>
      <%=mainSource.courses.insurance%>

      <% if(lock=='false') {%>
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" href="cert/SUSEP.pdf">
          <i class="fas fa-chevron-right"></i> View Certificate
      </a>
      <% } %>

    </li>

    <li class="near-collapse">
      <a href="https://odsc.com/"><img src="images/odsc_logo.png" alt="MS-logo" class="award-logo gray-background2"></a>
      <%=mainSource.courses.odsc%>

      <% if(lock=='false') {%>
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" href="cert/ODSC.pdf">
          <i class="fas fa-chevron-right"></i> View Certificate
      </a>
      <% } %>

    </li>

    <li class="near-collapse">
      <a href="https://www.pushkin.institute/en/"><img src="images/pushkin_institute_logo_eng.png" alt="MS-logo" class="award-logo gray-background2"></a>
      <%=mainSource.courses.pushkin%>

      <% if(lock=='false') {%>
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" href="cert/pushkin.pdf">
          <i class="fas fa-chevron-right"></i> View Certificate
      </a>
      <% } %>

    </li>

    <li class="near-collapse">
      <a href="https://www.impacta.com.br/Online/"><img src="images/Impacta_Certificação_e_Treinamento.jpg" alt="MS-logo" class="award-logo"></a>
      <%=mainSource.courses.impacta%>

      <% if(lock=='false') {%>
      <a class="btn btn-outline-light btn-sm cert-btn inlist-chev" type="button" href="cert/Impacta.pdf" >
          <i class="fas fa-chevron-right"></i> View Certificate
      </a>
      <% } %>

    </li>

  </ul>

  <p class="disclaimer"><%=mainSource.disclaimer%></p>

</div>

<%- include('partials/footer') -%>
